.consultation-form {
	padding: 2em;
	padding-bottom: 3em;
	border: 1px solid #e5e5e5;
}

/* Status */
.consultation-form__active { display: block; opacity: 1; }
.consultation-form__pending { display: block; opacity: .5; }
.consultation-form__expired { display: none; opacity: 0; }

/* Comments */
.consultation-comment { 
	padding-top: 1em;
	border-top: 1px solid #e5e5e5; 
}